.after-hero {
    position: absolute;
    top: 0;
    width: 100%;
    height: 500px;
    /* Height can be adjusted as needed */
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.after-hero img {
    position: absolute;
    width: 100%;
    height: 90%;
    object-fit: contain;
    filter: blur(0.8px) grayscale(20%);
    /* Blur effect, larger value means more blur */
    z-index: -2;
    /* Place image at the bottom layer */
    transform: scale(1.1);
    /* Slightly enlarge the image to avoid white spaces at edges after blurring */
}

.after-hero .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.88);
    z-index: -1;
}